.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.tile {
  height: 250px;
  width: 250px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 12px;
  text-align: left;
}

.newIdeaButton {
	background: darkblue;
	color: white;
	border: none;
	font-size: 18px;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
}

.input {
	border: 0;
	background: none;
	outline: none;
	margin-top: 10px;
	width: 200px;
	font-size: 11px;
}

.input:focus {
	border: solid 1px lightgrey;
}

textarea {
	resize: none;
	height: 90px;
	font-size: 11px;
}

.deleteButton {
	visibility: hidden;
	float: right;
	margin: 5px;
	font-size: 25px;
	cursor: pointer;
	color: red;
}

.tile:hover .deleteButton {
	visibility: visible;
}

.signInForm {
	width: 30em;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
}

.signInButton {
	margin-top: 1em;
	background: green;
	color: white;
}

.main-div {
	width: 100%;
	float: left;
}

.newideabtn-div {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	height: inherit;
}

.color-div {
	width: 50%;
	margin: 0 auto;
	float: left;
	
}

.noitification {
	width: 20%;
	float: right;
}

